<h1><%= @diretor.nome %></h1>
<ul>
    <li>Nascionalidade: <%= @diretor.nacionalidade %></li>
    <li>Data de Aniversário: <%= @diretor.data_de_aniversario %></li>
    <li>Gênero Favorito: <%= @diretor.genero.nome %></li>
</ul>



<h2>Lista de filmes do diretor</h2>

<div class="container_list">
    <%@lista_de_filmes.each do |element|%>
        <div class="item">
            <img src='<%=element.poster_url%>' alt='poster do filme' width='200' height='300'>
            <span class="my-10">Título: <%=element.titulo%> </span>
            <span class="my-10">Ano de Lançamento: <%= element.ano%></span>
            <span class="my-10">Status: <%= Filme.texto_para_status(element.status)%></span>
            
            <div>
                <button class="button_style mx-10"><%= link_to 'Ver', filme_path(element.id) %></button> 
                <button class="button_style mx-10"><%= link_to 'Editar', edit_filme_path(element.id) %> </button> 
            </div>
        </div>
    <%end%>
</div>