<div> 
    <h1>Lista de Filmes</h1>
    <button><%= link_to 'Criar novo filme', new_filme_path%></button>
</div>
<br>
<br>
<ul>
    <%@filmes.each do |element|%>
        <li>
            Título: <%= link_to element.titulo, filme_path(element.id) %>
            <br>
            Ano de Lançamento: <%= element.ano%>
            <br>
            Status: <%= element.status%>
            <br>
            <br>
            <button><%= link_to 'Editar', edit_filme_path(element.id) %> </button> 
        </li>
        <br>
    <%end%>
</ul>