<h1><%= @filme.titulo %></h1>
<img src='<%=@filme.poster_url%>' alt='poster do filme' width='200' height='300'>
<ul>
    <li>Ano de Lançamento: <%= @filme.ano %></li>
    <li>Sinopse: <%= @filme.sinopse %></li>
    <li>País de origem: <%= @filme.origem %></li>
    <li>Duração (minutos): <%= @filme.duracao %></li>
    <li>Diretor: <%= @filme.diretor.nome %></li>
    <li>Gênero: <%= @filme.genero.nome %></li>
    <li>Status: <%= Filme.texto_para_status(@filme.status)%></li>
</ul>
